#root {
    min-width: 50vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

article,
textarea {
    padding: 1rem;
    min-height: 14em;
}

article {
    border: 1px solid black;
    text-align: left;
    overflow: hidden;
}

article>* {
    max-width: 100%;
}

textarea,
article {
    resize: vertical;
}

textarea,
fieldset {
    width: 100%;
    box-sizing: border-box;
    margin: 0.25rem 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* disable color highlight on heading links */
article>h1>a,
article>h2>a,
article>h3>a {
    color: inherit;
}
